body {
  /* Set font-style in body of site to Roboto */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.site {
  display: flex;
  /* Site will be set up in a vertical fashion*/
  flex-direction: column;
  /* Site will take up all the available viewport*/
  min-hieght: 100vh;
}
/* Take as much space as it needs (site-content) */
.site-content {
  flex: 1;
}
